
<ul class="nav justify-content-center">
<li class="nav-item">
  <%= link_to 'Add New Invitation', new_invitation_path, class: "btn btn-light btn-lg"%>
</li>

<li class="nav-item ">
  <%= link_to 'Show All', invitations_path, class: "btn btn-light btn-lg"%>
</li>
</ul>


<br><br>
<img src="https://i.pinimg.com/originals/1e/8e/1e/1e8e1ee1f7c826ee9dcef0ecd8c52908.jpg" class="rounded mx-auto d-block" max-width: 100%>

