body {    
     background-image: url("https://cdnb.artstation.com/p/assets/images/images/038/817/877/large/usagipan-3d-studios-penguin-couple1.jpg?1624150496");
     background-color: 	 #a7c592; 
     background-size: 100%;            
     color: black;                   
    text-align: center;}         
a {     
        text-decoration: none;     
        font-family: Arial; 
        font-size: 30px;      
        font-weight: bold; }
h1{             
        }
 <div class="container"> . </div>
.container {
        }
.nav a {                   
        }